.photo-grid {
  margin: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
  max-width: 1184px;
}

@media screen and (max-width: 1220px) and (min-width: 1029px) {
  .photo-grid {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 1028px) and (min-width: 951px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 950px) and (min-width: 401px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 400px) {
  .photo-grid {
    grid-template-columns: auto;
    margin: 64px 16px 0;
    gap: 12px 0;
  }
}
