.places {
  margin-top: 92px;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 984px) 1fr;
  gap: 80px 0;
}

@media screen and (max-width: 1028px) and (min-width: 769px) {
  .places {
    margin: 92px 48px auto;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .places {
    margin: 88px 24px auto;
  }
}

@media screen and (max-width: 320px) {
  .places {
    grid-template-columns: 1fr;
    margin: 64px auto;
    row-gap: 40px;
  }
}
