.intro__list {
  list-style: none;
  grid-area: intro__list;
  padding: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin: 0 auto;
  }
}
