.header {
  margin: 28px auto 56px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr auto;
}

@media screen and (max-width: 1028px) {
  .header {
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px;
  }
}
