.lead__subtitle {
  margin: 0 0 64px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  max-width: 640px;
}

@media screen and (max-width: 1028) and (min-width: 320px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 16px 40px;
  }
}
