.cover {
  background: url("../../images/cover-trains.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 92px;
  padding: calc((740px - 250px) / 2) 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.7s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1184px) and (min-width: 769px) {
  .cover {
    padding: calc((640px - 250px) / 2) 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 521px) {
  .cover {
    padding: calc((480px - 250px) / 2) 0;
  }
}

@media screen and (max-width: 520px) and (min-width: 321px) {
  .cover {
    padding: calc((98vw - 250px) / 2) 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding: calc((79vw - 250px) / 2) 0;
  }
}
