.lead__caption {
  color: #fff;
  margin: 8px 0 0;
  align-self: baseline;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 0 0 24px;
    text-align: start;
  }
}
